{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    [ "@babel/preset-react", {
        "runtime": "automatic"
      }
    ],
    [ "minify", {
        "builtIns": false,
        "evaluate": false,
        "mangle": false
      }
    ]
  ],
  "ignore": [
    "**/*.test.ts",
    "**/*.test.tsx",
    "**/*.spec.ts",
    "**/*.spec.tsx",
    "**/*.stories.ts",
    "**/*.stories.tsx",
    "./src/setupTests.ts",
    "./src/artBoardComposition/*",
    "./src/test-utils"
  ]
}
