$z-cookies: 400;

$z-topbar: 304;
$z-header: 303;
$z-nav-close-button: 303;

$z-nav: 302;
$z-nav-before: 301;
$z-nav-after: 300;

$z-sticky-cta: 200;

$z-navbar: 199;

$z-mainApp: 100;

$z-image-media-icon: 150;
